//
//-- Variables
//

// colors
$color-base: #404040; // text
$color-dark-blue: #1e2633; // titles
$color-dark-violet: #221922; // bgc for benefits & booking
$color-highlight: #985e5b; // subtitles, hovers, bgc-new
$color-lightgrey: #f5f7fa; //  booking & form lines

// #edeff2 -- bgc-footer
// #ebebeb -- menu line

// #f7f7f7 -- bgc-cite
// #9f5f42 -- nav-hover
// #000 -- nav, about-title
// 
