//
//-- Header
//

.page-header {
  background-color: #FFF;

  .wrapper {
    position: relative;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .flex-container {
    @include row-flex();
    
    align-items: center;
    

    .logo {
      @include col();

      white-space: nowrap;

      @include xs-block(){
        margin-right: 0;
      }

      a{
        display: block;
        width: 223px;
        font-family: Lore, sans-serif;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 0.08em;
        color: #5f2e23;
        white-space: nowrap;
      }
    }

    .page-nav {
      @include col();

      color: #000;
      margin-right: 13.5%;
      margin-left: auto;
      font-size: 0;

      @include lg-block(){
        margin-right: 2%;
      }

      @media (max-width: 992px) {
        padding-left: 15px;
        border-left: 1px solid #000;
      }

      .page-nav__ul {
        display: block;

        @media (max-width: 992px) {
          display: none;
          // position: absolute;
          // top: 84px;
          // right: 0;
          // width: 70%;
          // padding: 0;
          // background-color: #fff;
          // z-index: 20;
        }
      }

      .page-nav__li {
        display: inline-block;

        @media (max-width: 992px){
          display: block;
          border-bottom: 1px solid #f2f2f2;

          &:last-child{
            border-bottom: none;
          }
        }
      }

      .page-nav__item {
        display: block;
        color: inherit;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        transition: all 0.2s ease;
        font-size: 16px;
        padding: 0 1em;
        
        @media (max-width: 992px){
          padding: 0 rem(12);
          font-weight: 700;
          font-size: 14px;
        }
        
        @include xxs-block(){
          text-align: left;
        }

        &:hover,
        &:focus,
        &:active {
          color: #9f5f42;
        }
      }
    }
  }
}

.page-nav__hamburger {
  display: block;
  display: none;

  @media (max-width: 992px) {
    display: block;
    width: 22px;
    height: 19.5px;
    vertical-align: middle;
    background-image: url("../img/ic-nav.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
  }

  @include xxs-block(){
    width: 18px;
    height: 16px;
  }
}


.dark__body {
  display: none;

  @media (max-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.69);
    z-index: 9999999999;
  }
}

.dark__menu {
  display: none;

  @media (max-width: 992px) {
    position: fixed;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 99999999999;
    width: 200px;
  }

  .page-nav__item{
    
    &:hover,
    &:focus,
    &:active {
      color: #9f5f42;
    }

    @media (max-width: 992px){
      display: inline-block;
      padding: rem(26) rem(12);
      font-weight: 700;
      // font-size: 14px;
      text-align: left;
    }
  }

  .page-nav__li{
    @media (max-width: 992px){
      display: block;
      border-bottom: 1px solid #f2f2f2;

      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.page-header__phone {
  position: absolute;
  display: block;
  left: 72.5%;
  bottom: 6px;
  font-weight: 700;

  &:hover,
  &:focus,
  &:active {
    color: #9f5f42;
  }

  @include lg-block(){
    left: 82%;
  }

  @include md-block(){
    left: 50%;
    
  }

  @include xs-block(){
    left: 77px;
  }
}


