//
//-- General sections
//

// .loader {
//   background: #333;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   z-index: 9999;

//   .loader_inner {
//     background-image: url("../img/preloader.gif");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     height: 66px;
//     width: 66px;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     position: absolute;
//   }
// }

.section {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 64px;

 @media (max-width: 420px){
    padding-bottom: 45px;
  }

  &.menu{
    @media (max-width: 420px){
      padding-bottom: 120px;
    }
  }
}

.section__title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 8px;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    border: solid #FFF;
    border-width: 0 2px;

    @media (max-width: 420px){
      display: none;
    }
  }

  &:before {
    margin-left: -100%;
  }

  &:after {
    margin-right: -100%;
  }
}

.section__subtitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 2.083;
  letter-spacing: 2px;
  color: $color-highlight;
  text-transform: uppercase;
  text-align: center;
}

